@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-style: 100%;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear_fix::after,
.clear_fix::before {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}